<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Your Ballot - Oscar Party</title>

		<!-- STYLES -->
		<link rel="stylesheet" href="/styles/ballot.css">
		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Petit+Formal+Script" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Laila" rel="stylesheet">

		<!-- VENDOR SCRIPTS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

		<!-- APPLICATION SCRIPTS -->
		<script src="/scripts/ballot.js"></script>
	</head>
	<body>
		<header>
			<div class="title">
				<h1><a href="/">Oscar Party</a></h1>
			</div>
		</header>
		<article>
			<h2>View your results below</h2>
			<div id="ballotTarget"></div>
			<div id="user-choice-target"></div>
		</article>
		<button id="votesPage"><a href="/votes">See how others voted</a></button>
	</body>
</html>
