<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">      
		<title>Your Ballot - Oscar Party</title>
		
		<!-- STYLES -->
		<link rel="stylesheet" href="/styles/styles.css">

		<!-- VENDOR SCRIPTS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

		<!-- APPLICATION SCRIPTS -->
		<script src="/scripts/ballot.js"></script>
	</head>
	<body>
		<header>
			<h1>Oscar Party</h1>
			<h2>Your ballot for the 91st Academy Awards</h2>
		</header>
		<article>
			<div id="ballotTarget">
				<!-- <div id="movieTarget">
					<h3>category name</h3>
					<div class="nominee">
						<h4 class="choice">movie name</h4>
					</div>
					<div class="userInput">
						<h4>movie name</h4>
					</div>
      	</div> -->
			</div>
		</article>
	</body>
</html>