body {
  box-sizing: border-box;
}

/* TITLE BAR */
h1 {
  margin-top: 20px;
  font-size: 46px;
  color: #B49B57;
  font-family: 'Petit Formal Script', cursive;
}

h1 a {
  color: #B49B57;
}

.title {
  top: 0;
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 100;
}

/* TEXT */
h1, h2, h3, p{
  text-align: center;
}

h2 {
  margin-top: 100px;
  font-family: cursive;
}

h3 {
  font-size: 22px;
  color: #B49B57;
}

h3, p{
  font-family: cursive;
}

p {
  font-size: 18px;
}

/* INSERTED CHOICES */
#ballotTarget {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-item {
  width: 30vw;
}

.chosen {
  border: solid black;
}

/* BUTTONS */

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  color: #B49B57;
}

#votesPage {
  margin-top: 20px;
  background-color: black;
  border: none;
  color: #B49B57;
  font-size: 1em;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: cursive;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: none;
}

.deleteBtn, .edit-movie-submit-button, .edit-movie-button {
  color: #B49B57;
  background-color: black;
  border-radius: 12px;
}
