/* styles */
.category {
  display: flex;
  flex-wrap: wrap;
}

img {
  width: 20vw;
}

.nominee {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.nominee:hover {
  cursor: pointer;
}

h1, h2, h3, h4 {
  text-align: center;
}

.chosen {
  background-color: red;
}

input[type="text"] {
  display: block;
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  text-align: center;
}
