/* styles */
/* body{
  box-sizing: border-box;
  margin: 0 100px;
} */

.category {
  display: flex;
  flex-wrap: wrap;
}

img {
  position: block;
  width: 20vw;
  margin: auto;
}

.nominee {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.nominee:hover {
  cursor: pointer;
}

h1, h2, h3, h4 {
  text-align: center;
}

.chosen {
  /* background-color: red; */
  border: solid black;
}

input[type="submit"] {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.userChoice {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.btn {
  text-align: center;
}
