/* styles */
/* body{
  box-sizing: border-box;
  margin: 0 100px;
} */

/* body {
  background-color: black;
} */

.category {
  display: flex;
  flex-wrap: wrap;
}

img {
  margin: auto;
  width: 10%;
  padding: 10px;
  height: 196.8px;
  width: 148px;
  /* height: 492px;
  width: 370px; */
}

.nominee {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.nominee:hover {
  cursor: pointer;
}

h1 {
  margin-top: 20px;
  font-size: 46px;
  color: #B49B57;
  font-family: 'Petit Formal Script', cursive;
}

.title {
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: white;
}

h2 {
  margin-top: 20px;
  background-color: white;
  font-family: 'Petit Formal Script', cursive;
  top: 90%;
}

h1, h2, h3, h5 {
  text-align: center;
  color: #B49B57;
}

div.nominee h5 {
  margin-top: 20px;
  font-family: cursive;
  text-align: center;
}

.chosen img {
  /* background-color: red; */
  border: solid black;
}

.userChoice {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

button.btn.btn-link.category-title {
  text-align: center;
  text-decoration: none;
  color: #B49B57;;
  font-size: 24px;
  font-family: 'Petit Formal Script', cursive;
}

.accordion {
  text-align: center;
}

header {
  /* background-repeat: round; */
  background-attachment: fixed;
  height: 650px;
  background-image: url("https://images.unsplash.com/photo-1536000999382-52cecfca7fb1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
}

input[type="submit"] {
  margin-top: 20px;
  background-color: black;
  border: none;
  color: #B49B57;
  font-size: 1em;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: cursive;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}
