h1 {
  margin-top: 20px;
  font-size: 46px;
  color: #B49B57;
  font-family: 'Petit Formal Script', cursive;
  text-align: center;
}

h2 {
  margin-top: 100px;
  text-align: center;
  font-family: cursive;
}

.title {
  height: 100px;
  width: 100%;
  position: fixed;
  background-color: white;
  top: 0;
}

.moviesTarget {
  font-family: cursive;
  font-size: 24px;
}
